
    <!-- Jumbotron -->
    <div class="jumbotron">
      

      <h1>Welcome to monsalmon.com,</h1>

      <p>Monsalmon are a resource for everyone who are looking for information on salmon. Here we provide everything about salmon facts like the anatomy & biology, the classification, the behavior, the habit, the reproduction system and the dietary habit of salmon. 

      </p>
      <p><%= image_tag "salmon.jpg" %>
      
    </div>