<h1>Salmon#behaviour</h1>
<p>Behaviour

What do salmon eat?

A salmon's diet depends on the species and region, but typically juvenile salmon eat zooplankton, and larval and adult invertebrates. In the ocean, salmon eat smaller fish, such as herring, pelagic amphipods and krill.

Although most adult Pacific salmon feed on small fish, shrimp and squid; sockeye feed on plankton they filter through gill rakers. Kokanee salmon is a land-locked form of sockeye salmon.

How do salmon protect themselves?

When migrating, salmon are particularly susceptible to predation, so they seek deep areas to quickly swim into. Salmon school in the ocean for protection, and confuse predators with their flashy sides where they can be mistaken for a large predator.





</p>
