<h1>Salmon#diet</h1>
<p>
  What salmon eat?
  http://diet.yukozimo.com/what-do-salmon-eat/
  Freshwater or wild salmon
  Wild salmon that swim the oceans freely have a diet that is typically the same, even among different species. Freshwater salmon have to eat what is available to them in the ocean or water that they inhabit, and those food items are usually plankton or small invertebrates. Other species will eat small insects, if available, and some larger species will go after small fish. All freshwater salmon eat fresh from the ocean, and the differences are usually a result of the size and location of the species.
  Farm Raised Salmon
  To be able to keep up with the demand of salmon in most western countries, farmers have been raising salmon for years. Raising salmon allows for a larger and faster production of the fish, and farmers are able to keep an eye on the salmon and their health. Most farmers like to keep their salmon on a typical salmon diet, but others have, controversially, fed the salmon other products such as corn and soybeans in order to make their fish bigger. Depending on your health priorities though, farm raised salmon is typically just as good tasting as freshwater salmon. However, recently, reports have shown that farmed salmon have higher toxin levels than the wild counterpart. So, it’s best to go for wild salmon rather than farmed ones.

  </p>